/* Created by The Phenomenal */

/* Created by AKR */


body {
    background-color:black;
    background-image:url("https://images3.alphacoders.com/856/856363.jpg");
    background-position:bottom left;
    animation:body 10s ease 1s 2 alternate;
}
@keyframes body{
    0%{
        background-position:bottom left;
    }
    100%{
        background-position:bottom right;
    }
}
h1{
    text-align:center ;
    color:white;
    font-weight: bold;
    border-style:dotted ;
    border-radius:40%;
    font-family:cursive;
    text-shadow:0px 0px 10px red;
      text-shadow: rgba(0,0,255,1) -1px -2px 0.5em;
      animation: h1 6s linear 1s 1 forwards;
}
@keyframes h1{
    50%{
        border:15px solid pink;
    }
    
}
h2{
    text-align:center ;
    color:pink;
    font-family:cursive ;
      text-shadow: rgba(0,0,255,1) -1px -2px 0.5em;
      animation-name:h2;
      animation-duration:1s;
      animation-timing-function:ease;
      animation-delay:0s;
      animation-iteration-count:1;
      animation-direction:normal ;
      animation-fill-mode:forwards;
}
@keyframes h2{
    0%{
        letter-spacing:1.2em;
        color:white;
    }
    100%{
        letter-spacing:0.1em;
        color:orange;
    }
}
img{
    
    border-radius:25%;
}
iframe{
    border-radius:25%;
}
p{
    font-size:20px;
    color:cyan;
    text-align:center ;
    border-radius:25%;
    text-shadow:1px 2px 2px cyan;
      text-shadow: rgba(0,0,255,1) -1px -2px 0.5em;
}
#aa{
    float:right ;
    border: 5px solid red;
    border-right-width:3px;
    border-top-color:red;
}
footer{
    text-align:center;
    font-size:10px;
    color:yellow;
    font-weight: bold;
      text-shadow: rgba(0,0,255,1) -1px -2px 0.5em;
}
.heart{
    position:absolute ;
    bottom:0;
    opacity:0.5;
    animation:heart 10s infinite ease-in;
}
@keyframes heart{
    0%{
        bottom:100px;
        transform:translateY(0px);
    }
    50%{
        bottom:355px;
        transform:translateZ(100px);
    }
    100%{
        bottom:500px;
        transform:translateX(-200px);
    }
}
.heart:nth-child(1){
    left:10%;
    animation-duration:8s;
}
.heart:nth-child(2){
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
}
.heart:nth-child(3){
    left:30%;
    animation-duration:10s;
    animation-delay:2s;
}
.heart:nth-child(4){
    left:40%;
    animation-duration:7s;
    animation-delay:0s;
}
.heart:nth-child(5){
    left:50%;
    animation-duration:6s;
    animation-delay:1s;
}
.heart:nth-child(6){
    left:60%;
    animation-duration:8s;
    animation-delay:3s;
}
.heart:nth-child(7){
    left:70%;
    animation-duration:7s;
    animation-delay:2s;
}
.heart:nth-child(8){
    left:80%;
    animation-duration:6s;
    animation-delay:1s;
}
.heart:nth-child(9){
    left:75%;
    animation-duration:10s;
    animation-delay:9s;
}
.heart:nth-child(10){
    left:5%;
    animation-duration:5s;
    animation-delay:3s;
}
.heart:nth-child(11){
    left:10%;
    animation-duration:8s;
}
.heart:nth-child(12){
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
}
.heart:nth-child(13){
    left:30%;
    animation-duration:10s;
    animation-delay:2s;
}
.heart:nth-child(14){
    left:40%;
    animation-duration:7s;
    animation-delay:0s;
}
.heart:nth-child(15){
    left:50%;
    animation-duration:6s;
    animation-delay:1s;
}
.heart:nth-child(16){
    left:60%;
    animation-duration:8s;
    animation-delay:3s;
}
.heart:nth-child(17){
    left:70%;
    animation-duration:7s;
    animation-delay:2s;
}
.heart:nth-child(18){
    left:80%;
    animation-duration:6s;
    animation-delay:1s;
}
.heart:nth-child(19){
    left:75%;
    animation-duration:10s;
    animation-delay:9s;
}
.heart:nth-child(20){
    left:5%;
    animation-duration:5s;
    animation-delay:3s;
}